<h2 class="">Zack Dinerstein</h2>

<a href="/contact"><img src="https://pbs.twimg.com/profile_images/140031074/Grass_n_Stash.jpg" alt="Me"></a>

<ul>
	<li class="">Play Guitar</li>
	<li class="">Surf</li>
	<li class="">Produce Podcasts</li>
	<li class="">Interview Musicians</li>
	<li class="">Code Mad Webpages</li>
</ul>

